<div class="container mt-" style="margin-top: 15vh;">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body bg-primary text-white">
          <h2 class="card-title text-center">Sign up</h2>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="mb-3">
              <%= f.label :email, class: "form-label text-dark" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :password, class: "form-label text-dark" %>
              <% if @minimum_password_length %>
                <small>(<%= @minimum_password_length %> characters minimum)</small>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :password_confirmation, class: "form-label text-dark" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="text-center">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
