<section class="">
  <div class="container " style="margin-top:15vh">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2; border-color: transparent;">
          <div class="card-body py-4 px-4 px-md-5">

          <div class="d-flex justify-content-between align-items-center">
            <h1 class="text-center my-3 pb-3 fs-1">To Do App</h1>
            <%= button_to new_task_path, method: :get, class: "btn btn-primary text-decoration-none" do %>
              <i class="material-icons me-2 align-middle">add</i> Nouvelle tâche
            <% end %>
          </div>


          <div class="pb-2">
            <div class="overflow-y-auto h-96 mt-4">
              <ul class="list-group">
                <% @tasks.each do |task| %>
                  <li class="list-group-item rounded-lg p-4 mb-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <h2 class="text-lg font-bold mb-1"><%= task.title %></h2>
                      <small><%= task.due_date.strftime("%d/%m/%Y") %></small>
                    </div>
                    <p class="text-sm mb-1"><%= task.description %></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <span class="badge rounded-pill" style="background-color: #<%= task.category.color %>;"><%= task.category.name %></span>
                      <div>
                      <a href="<%= edit_task_path(task) %>">
                      <i class="material-icons text-gray-500">edit</i>
                    </a>
                    <a href="<%= task_path(task) %>", method: :delete, data: { confirm: "Are you sure?" }, class: "text-decoration-none" >
                        <i class="material-icons text-gray-500">delete</i>
                      </a>
                      </div>

                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



