<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="card py-5 mt-5" style="border-radius: .75rem; border-color: transparent;">
    <div class="card-body py-4 px-4 px-md-5" >
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl">Categories</h1>
        <%= link_to "New category", new_category_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      </div>

      <div id="categories" class="min-w-full">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Color</th>
              <th>Badge</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td><%= category.color %></td>
                <td><span class="badge rounded-pill" style="background-color: #<%= category.color %>;"><%= category.name %></span></td>
                <td>
                  <%= link_to "Edit", edit_category_path(category), class: "btn btn-primary btn-sm" %>
                  <%= link_to "Delete", category_path(category), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


